/* 2018-Dez Schriftgrößen auf PT zurückgestellt und auf die neue DPI Anpassung von Odoo umgestellt */

body {
    color: #000 !important;
	font-size: 11pt!important;
    font-family: "Open Sans", Calibri,"Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {font-size: 18pt;}
h2 {font-size: 15pt;}
h3 {font-size: 13pt;}
h4 {font-size: 11pt;}
h5 {font-size: 10pt;}

td {
	vertical-align:top;
	font-size: 11pt!important;
}

table.eq-hr-timemangement td {
	font-size:8pt!important;
}

.border-black td {
	border-top: 1px solid black !important;
}

.table-condensed > thead > tr > th {
	border-bottom: 1px solid black !important;
	page-break-inside:avoid !important;
	font-size: 11pt!important;
											/*font-size: 0.8em;*/
}

.zero_min_height {
	min-height: 0px !important;
}

.padding-fix {
	padding-left:15px;
	padding-right:15px;
}

/* Hier die zusätzlichen Abstände für den Druck einstellen */
.page,
div.header.padding-print {
	padding-left:1.2cm;
	padding-right:0cm;
}

.footer {
	clear:both;
	align:center;
	text-align:center;
	margin-left:0px;
	font-size:8pt!important;
}

.footer td {
	margin:0;
	padding:0;
	padding-left:5px;
	padding-right:5px;
	text-align:left;
	border: none;
	background-color:none;
	font-size:8pt!important;
}

#version {
	margin:0 0 0 -15px;
	padding: 0;
	display: none;
	font-size: 4px;
	background-color:none;
	transform: rotate(-90deg);
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */
}

#logo {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-left: 0px;
	max-width: 45%!important;
	width: 45%!important;
}

#logo img {
	max-width:100%;
	max-height:35mm;
	float:right;
	margin-right:0px;
	padding-right:0px;
    display:block;
}

div.internalheaderbox div.rightbox { /* this class is used in the external layout header for the internal documents logo, such as report_overdue // fällige zahlungen */
	max-width:73mm!important;
	width:73mm!important;
}

div.internalheaderbox div.leftbox {
	font-size:80%;
}

.addressmargin {
	margin-top:2.5cm;
	height: 4.8cm;
}

#address {
	margin-top: 1cm;
	min-height: 4.5cm;
	vertical-align: bottom;
	position: relative;
}

#returnaddress {
	color: #000000;
	font-size: 7pt!important;
	border-bottom: 1px solid #000000;
	padding-top:0.5cm;
	margin-bottom:0.6em;
	display: inline-block;
	width:9cm;
}

.leftbox {
	width: 45%;
}

.rightbox {
	float:right;
	padding-left:0px;

	max-width:45%!important;
	width:45%!important;
}

.rightbox table {
}

div.header .leftbox {  /* Dieser Style definiert den kopfbereich für Folgeseiten, also Seite 2+ */
	/*margin-left:1.4cm;
	padding-left:0cm;*/ /*entfernt, da es in der neuen WKHTML Version 0.12.15 zu unnötigen Abständen führt */
	margin-top: 0.8cm;
	float:left;
}

/* Tabellenformatierung für 1. Spalte dicker Inhalt */
table.data > tbody > tr > td:first-child {
	font-weight:bold;
	padding-right:0.4cm;
}

.bottomBlock {
	margin-top: 1em;
}

.table-row tbody tr:nth-child(odd) {
	background-color: #ffffff!important; /* Alter Wert für graue Zeile: #eeeeee */
}

.table-row tbody tr:nth-child(even) {
	background-color: #ffffff!important;
}

.table-row tbody tr {
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
}

/* HTML formatierte Texte im Kopf und Fußtext */
.eq_headertext ul, .eq_footertext ul {
	padding-left:3em!important;
}

.table > tbody > tr.active > td {
	background-color:#ddd; /*alter wert: #ddd */
	color:#000;
}

/* DIV NAME TOTAL is the block for summary */
div[name="total"] > div.col-xs-5,
div[name="total"],
div[name="contract_sum"] {
	padding-left:0px;
	max-width:45%!important;
	width:45%!important;
}

.optional {
	color:#1964ca;
}